node_modules/
.npm/
tiny-cli-docker/
tiny-cli-desktop/
.turbo/
.tiny-cli/
dist
build
logs
*.log
.DS_Store
.idea/
*.tsbuildinfo
# context.md
# design.md
# full_impl.md
# tools.md
scratch
testfolder
workspace
dist-bin/
old
.playwright-mcp
opentui-docs-md
